<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myActionLabel">Create or edit a Action</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!action.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="action.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="action.status" id="field_status"  required>
                <option value="New">New</option>
                <option value="Progress">Progress</option>
                <option value="Completed">Completed</option>
                <option value="Interrupted">Interrupted</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="action.duration"  />
        </div>

        <div class="form-group">
            <label for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" [(ngModel)]="action.taskId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taskOption.id" *ngFor="let taskOption of tasks; trackBy: trackTaskById">{{taskOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
